.frame[data-v-907e4604]{position:absolute;inset:0}.frame .frame-iframe[data-v-907e4604]{box-sizing:border-box;border:0;width:100%;height:100%;overflow:hidden}.main-content[data-v-907e4604]{margin:2px 0 0!important}
